clevertap-xamarin.iml
.idea/
.DS_Store

/clevertap-component/src/android/CleverTap.Bindings.Android/obj/
/clevertap-component/src/android/CleverTap.Bindings.Android/bin/
/clevertap-component/sample/android/XamarinDemo/XamarinDemo/obj/
/clevertap-component/sample/android/XamarinDemo/XamarinDemo/bin/
/clevertap-component/src/android/CleverTap.Bindings.Android/mono_crash.175eeb7031.0.json

/clevertap-component/sample/ios/Starter/bin/
/clevertap-component/sample/ios/Starter/obj/
